{% extends 'base.html' %}
{% load tags %}
{% block portfolio %}

    <div class="col-lg-12">

        <div class="btn-group" role="group" aria-label="..." style="margin-bottom: 200px;">

            <div class="btn-group">
                <button type="button" class="btn btn-primary-disabled">View</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/all">All</a></li>
                    <li><a href="/">Featured</a></li>
                    <li role="separator" class="divider"></li>
                    {% topTags %}

                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary-disabled">Sort by</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>

                <ul class="dropdown-menu">
                    <form action="" method="GET">
                        <li>
                            <button class="dropdown-buttons" id="id_o" name="o" value="-date" type="submit">Date
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-buttons" id="id_o" name="o" type="submit" value="name">Name</button>
                        </li>
                    </form>
                </ul>

            </div>


            <form action="{% url 'search' %}" method="GET">
                <div class="input-group">
                    <input type="text" name="input" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <input class="btn btn-primary" type="submit" value="Go!">
                     </span>
                </div>
            </form>
            <!-- /input-group -->

        </div>
    </div>

    <h4>viewing featured..</h4>
    <h5 class="section-header" style="margin-top: 20px;">Projects</h5>

    {% for post in p %}

        <div class="projects">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style='font-size: 30px;'>
                        {% if post.in_development %}
                            <i style="font-size: 20px;" class="fa fa-pencil-square-o"></i>
                        {% else %}
                            <i style="font-size: 20px;" class="fa fa-check-square-o"></i>
                        {% endif %}
                        {{ post.name }}
                        <small>{{ post.info }}</small>
                        <small class="date">{{ post.date }}</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->

            <!-- Project One -->
            <div class="row" style="position: relative;">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="{{ post.image }}" alt="" height="300" width="700">
                    </a>
                </div>
                <div class="col-md-5">
                    {% for t in post.tags.all %}
                        <a href="{{ t.id | safe }} " class="btn btn-tag"
                           style="background-color:{{ t.color | safe }};">{{ t.button_contents |safe }}</a>
                    {% endfor %}
                    <p>{{ post.description | safe }}</p>
                </div>


                <div class="col-md-12 download-buttons">
                    <a href="{{ post.source_url }}"
                       class="btn btn-default bottom-buttons">{{ post.source_type | safe }}</a>
                    {% if post.download_url %}
                        <a href="{{ post.download_url }}" class="btn btn-default bottom-buttons"><i
                                class="fa fa-download"></i><span class="network-name">Download</span></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- /.row -->


    {% endfor %}

    <h5 class="section-header">Code</h5>
    {% for group in g %}
        <div class="col-lg-12 projects">
            <div class="btn-group" data-toggle="buttons-checkbox">
                <h1><a class="btn collapse-data-btn" data-toggle="collapse" href="#{{ group.id | safe }}"
                       style="font-size: 15px;"><i class="fa fa-caret-down"></i></a>
                    {% if group.source %}
                        <a href="{{ group.source | safe }}"> {{ group.name | safe }}</a>
                    {% else %}
                        {{ group.name | safe }}
                    {% endif %}
                    <small>{{ group.info | safe }}</small>

                </h1>
            </div>

            <div id="{{ group.id | safe }}" class="collapse in col-lg-10 col-lg-offset-1">
                {% for code in group.codes %}
                    <h2 style="margin: 10px 0px;">{{ code.name | safe }}
                        <small>.{{ code.suffix | safe }}</small>
                        {% for t in code.tags.all %}
                            <a href="{{ t.id | safe }} " class="btn btn-tag"
                               style="background-color:{{ t.color | safe }};">{{ t.button_contents |safe }}</a>
                        {% endfor %}

                    </h2>
                    <p style="margin-bottom: 10px;">{{ code.description | safe }}</p>

                    <div class="btn-group" data-toggle="buttons-checkbox">
                        <a class="btn collapse-data-btn" data-toggle="collapse" href="#{{ code.id | safe }}">Display
                            Code</a>
                    </div>

                    <div id="{{ code.id | safe }}" class="collapse">
                        <script src="{{ code.source | safe }}"></script>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>

    {% endfor %}
{% endblock %}