
{% extends 'base.html' %}

{% block projects %}
    {% for post in p %}
<div class="projects">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" style = 'font-size: 30px;'>
                            {% if post.in_development %}
                                <i style = "font-size: 20px;" class="fa fa-pencil-square-o"></i>
                                {% else %}
                                <i style = "font-size: 20px;" class="fa fa-check-square-o"></i>
                            {% endif %}
                            {{ post.name }}
                            <small>{{ post.info }}</small>
                            <small class = "date">{{ post.date }}</small>
                        </h1>
                    </div>
                 </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row" style="position: relative;">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="{{ post.image }}" alt="" height="300" width="700">
                </a>
            </div>
            <div class="col-md-5">
                {% for t in post.tags.all %}
                    {{ t.html | safe}}
                {% endfor %}
                <p>{{ post.description | safe }}</p>

            </div>

          <div class="col-md-12">
                <a href="{{ post.source_url }}" class="btn btn-default" style = " line-height: 1; float:right;" >{{ post.source_type | safe }}</a>
                 <a href="" class="btn btn-default" style = "line-height: 1.2; float:right;" ><i class="fa fa-download"></i><span class="network-name">Download</span></a>


            {%  if post.download_url %}
                <a href="{{ post.download_url }}" class="btn btn-default" style = "line-height: 1.2; float:right;" ><i class="fa fa-download"></i><span class="network-name">Download</span></a>
            {% endif %}
        </div>
        </div>
        <!-- /.row -->

        </div>
    {% endfor %}
{% endblock %}