{% extends 'base.html' %}
{% load pagination_tags %}
{% load tags %}
{% block portfolio %}


    <h4>{{ msg }}</h4>

    {% if not p and not g %}
        <h4>no projects or codes found</h4>
    {% endif %}

    {% if p %}

        {% autopaginate p.qs 2 as p %}

        <h5 class="section-header" style="margin-top: 20px;">Projects</h5>

        {% projects p %}

        {% paginate %}

    {% endif %}

    {% if g %}

        <h5 class="section-header">Code</h5>

        {% codegroups g collapse %}

    {% endif %}

{% endblock %}